/* ====== GLOBAL FONT ====== */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
